h1 {
  font-size: 30px;
  color: rgb(29, 6, 114);
}

#presentation {
  border: 5px ridge rgb(48, 37, 216);
  text-align: center;
  background-image: url("pictures/background.jpeg");
  background-size: 100% 380px;
  font-family: "Gill Sans", sans-serif;
  color: rgb(29, 6, 114);
  font-size: 18px;
  height: 380px;
  margin-top: 71px;
  padding-top: 50px;
}

p {
  color: rgb(29, 6, 114);
}

.arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: down 1s infinite linear alternate;
}

@keyframes down {
  0% {
    position: relative;
    top: 40px;
    opacity: 1;
  }
  50% {
    position: relative;
    top: 20px;
    opacity: 0.5;
  }
  100% {
    position: relative;
    top: 0px;
    opacity: 0;
  }
}
