.backgroundImg {
  position: absolute;
  top: 0;
  right: 0;
  width: 845px;
  height: 480px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./pictures/headerImg.svg");
  z-index: -1;
}

@media screen and (min-width: 1441px) {
  header {
    width: 100vw;
    height: 400px;
    margin-top: 80px;
  }
  .headerText {
    width: 960px;
    padding: 4rem 0 0 10rem;
  }
  .headerText h1 {
    font-size: 45px;
    font-family: 'Crete Round', serif;
    text-align: center;
    padding-bottom: 2rem;
  }
  .headerText p {
    padding-left: 4rem;
    padding-bottom: 1rem;
    font-weight: 100;
    font-size: 22px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1440px) {
  header {
    width: 100vw;
    margin-top: 80px;
  }
  .headerText {
    width: 100%;
    padding-top: 4rem;
  }
  .headerText h1 {
    font-size: 40px;
    font-family: 'Crete Round', serif;
    text-align: center;
    padding-bottom: 3rem;
  }
  .headerText p {
    padding: 0 25vw 1rem 25vw;
    text-align: justify;
    font-weight: 100;
    font-size: 20px;
  }
}

.headerConcept {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.headerConcept h1 {
  font-family: 'Varela Round', sans-serif;
  width: 100%;
  font-weight: 500;
  padding: 3rem 0 1rem 3rem;
  text-align: left;
}

.headerConcept p {
  width: 100%;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: left;
  padding: 5px 3rem;
}