#devs {
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 60vh;
  overflow-y: scroll;
}

.infos {
  border-radius: 3px;
  border-style: solid;
  border-color: black;
  height: 40vh;
  width: 20vw;
  margin: 10px 50px 0 50px;
}

.identityCard {
  background-color: #fdb6ee;
  height: 30vh;
}
.identityCard2 {
  background-color: #83fdff;
  height: 30vh;
}

.links {
  background-color: #83fdff;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.links2 {
  background-color: #fdb6ee;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.face {
  height: 16vh;
  width: 8vw;
}

.calibrage {
  height: 8vh;
  width: 4vw;
}
.calibrage2 {
  height: 6vh;
  width: 3vw;
}

.box1 {
  display: flex;
}

.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  height: 16vh;
}
.techno {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  margin-top: 10px;
}
.techno2 {
  height: 50px;
  margin-top: 20px;
}
