.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 10px 0;
    padding: 2rem 0 1rem 0;
}

.formSearch {
    width: 50%;
}

#searchBar {
    padding-left: 28px;
    width: 100%;
    height: 30px;
    border: 1px solid #333;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    outline: none;
}

#searchBar::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

#searchBar::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the ‘X’ from Chrome */
#searchBar::-webkit-search-decoration, #searchBar::-webkit-search-cancel-button, #searchBar::-webkit-search-results-button, #searchBar::-webkit-search-results-decoration {
    display: none;
}

.searchIcon {
    position: relative;
    right: 28px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./pictures/searchIcon.svg");
}