.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 10px 0;
    padding: 2rem 0 1rem 0;
}

input {
    border: 1px solid lightgray;
    border-radius: 2px;
}

.formSearch {
    width: 50%;
    margin: 5px;
    box-shadow: 0px 0px 5px lightgray;
}

#searchBar {
    padding-left: 20px;
    width: 100%;
    height: 30px;
}

#searchBar::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

#searchBar::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the ‘X’ from Chrome */
#searchBar::-webkit-search-decoration, #searchBar::-webkit-search-cancel-button, #searchBar::-webkit-search-results-button, #searchBar::-webkit-search-results-decoration {
    display: none;
}

.searchIcon {
    position: relative;
    right: 29px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./pictures/searchIcon.svg");
}