.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

input {
    border: 1px solid lightgray;
    border-radius: 2px;
}

.formSearch {
    margin: 5px;
}

#searchBar {
    border-radius: 12px;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 9%);
    font-weight: 100;
    font-size: 20px;
    border: 1px solid #e6e6e6;
    padding-left: 4rem;
    width: 100%;
}

@media screen and (min-width: 1441px) {
    .formSearch {
        width: 50%;
    }
    #searchBar {
        height: 90px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1440px) {
    .formSearch {
        width: 75%;
    }
    #searchBar {
        height: 70px;
    }
}

#searchBar::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

#searchBar::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the ‘X’ from Chrome */

#searchBar::-webkit-search-decoration, #searchBar::-webkit-search-cancel-button, #searchBar::-webkit-search-results-button, #searchBar::-webkit-search-results-decoration {
    display: none;
}

.searchIcon {
    position: relative;
    right: 50px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./pictures/searchIcon.svg");
}