.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: lightcoral;
    margin: 10px 0;
    padding: 10px;
}

.formSearch {
    
}