@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* PARTIE CAROLINE CSS */

#linksContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 200px;
    width: 100%;
  }
  
  .bloc1 {
    width: 35vw;
    height: 170px;
    background-color: black;
  }
  
  .bloc2 {
    width: 30vw;
    height: 170px;
    background-color: black;
  }
  
  .bloc3 {
    width: 30vw;
    height: 170px;
    background-color: black;
    padding-left: 55px;
  }
  
  .bloc4 {
    width: 35vw;
    height: 170px;
    background-color: black;
  }
  
  .bloc5 {
    width: 30vw;
    height: 170px;
    background-color: black;
  }
  
  .bloc6 {
    width: 30vw;
    height: 170px;
    background-color: black;
    padding-left: 55px;
  }
  
  .copyright {
    margin-top: 10%;
    color: black;
  }

  .ahover {
    text-decoration: none;
    color: white;
    }

  .ahover:hover {
    background-color: grey;
    border-radius: 2px;
    background: radial-gradient(grey, black);
    }

  .titlesfooter {
    text-align: center;
    color: white;
  }
  
  .colorlist {
    color: white;
    list-style-type: none;
    padding-left: 100px;
  }

  .colorparagraph {
    color: white;
  }

  .listfooter {
    padding-top: 30px;
  }
  
  .imglogosfb {
    padding-left: 250px;
    padding-top: 30px;
    height: 60px;
    width: 150px;
  }

  .imgWCS {
    padding-left: 220px;
    padding-top: 30px;
    height: 50px;
    width: 150px;
  }

  .imgWCS:hover {
      opacity: 1;
      -webkit-animation: flash 1.5s;
      animation: flash 1.5s;
    }
    @-webkit-keyframes flash {
      0% {
        opacity: .4;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes flash {
      0% {
        opacity: .4;
      }
      100% {
        opacity: 1;
      }
    }

  .imgadopte {
    padding-left: 220px;
    height: 130px;
    width: 130px;
  }

  .imgadopte:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
  }
  @-webkit-keyframes flash {
    0% {
      opacity: .4;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flash {
    0% {
      opacity: .4;
    }
    100% {
      opacity: 1;
    }
  }

  .E-mail {
    text-align: center;
    color: white;
  }
  
  .enterEmail {
    display: block;
  }
  
  .inputEmail {
    margin: .4rem 0;
  }