form {
    width: auto;
    height: 50px;
    border: solid black 1px;
    background-color: rgb(206, 200, 200);
    box-sizing: border-box;
}

body {
    margin: 5px;
}

#linksContainer {
    width: 100%;
    height: 170px;
    text-align: center;
    background-color: yellowgreen;
}
